<div>
  <form id="productForm">
    <label for="title">Titulo</label>
    <input id="title" name="title">
    <label for="price">Precio</label>
    <input id="price" name="price">
    <label for="image">Imagen</label>
    <input type="file" id="image" name="image">
    <button type="submit">Enviar</button>
    
  </form>
</div>

<script src="js/newProduct.js"></script>